@font-face {
    font-family: "Trajan";
    src: url('../fonts/trajan.eot');
    src: url('../fonts/trajan.eot?#iefix') format('embedded-opentype'),
    url('../fonts/trajan.svg#Trajan Pro') format('svg'),
    url('../fonts/trajan.woff') format('woff'),
    url('../fonts/trajan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Myriad";
    src: url('../fonts/myriad.eot');
    src: url('../fonts/myriad.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriad.svg#Trajan Pro') format('svg'),
    url('../fonts/myriad.woff') format('woff'),
    url('../fonts/myriad.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}