$normalized_font_family: sans-serif !default;

$h1_font_size: 48px;
$h2_font_size: 32px;
$h3_font_size: 24px;
$h4_font_size: 18px;
$h5_font_size: 18px;
$h6_font_size: 18px;

$h1_margin: 25px 0 15px 0;
$h2_margin: 20px 0;
$h3_margin: 10px 0;
$h4_margin: 5px 0;
$h5_margin: 5px 0;
$h6_margin: 5px 0;

$background: #fff !default;
$color: #000 !default;

$column-width: 60px;
$gutter-width: 15px;
$columns: 12;
$total-width: 100%;