@import"vars";
@import"normalize";
@import"fonts";
@import"mixins";
body {
    width: 100%;
    @include clearfix;
    font: normal 18px/24px"Times New Roman", sans-serif;
}
h1 {
    font: normal 48px/50px"Trajan", sans-serif;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.header {
    width: 100%;
    padding-top: 45px;
    position: absolute;
    z-index: 25;
    .inner {
        @extend .container;
    }
    .logo {
        @include column(5);
        @include bp-medium {
            @include column(12);
            text-align: center;
        }
        img {
            max-width: 100%;
        }
    }
    .navigation {
        @include column(7);
        padding-top: 45px;
        font-family: "Trajan", sans-serif;
        @include bp-medium {
            width: 100%;
            margin-left: 0;
            text-align: center;
            display: block;
        }
        .menu-handler {
            display: none;
            cursor: pointer;
            .icon {
                width: 30px;
                height: 24px;
                float: left;
                i {
                    display: block;
                    height: 3px;
                    background: #333;
                    margin: 3px;
                }
            }
            > span {
                display: block;
                float: left;
                margin-left: 10px;
                line-height: 24px;
            }
            @include bp-medium {
                display: inline-block;
            }
        }
        .main-menu {
            text-align: right;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: inline-block;
                margin-left: 6.5%;
                padding-top: 5px;
                a {
                    text-decoration: none;
                    color: #333;
                    height: 27px;
                    border-bottom: 5px solid transparent;
                    text-transform: uppercase;
                    &.home {
                        background: url(../img/home.png) no-repeat center top;
                        padding: 1px 0 1px 27px;
                        @include bp-medium {
                            background-position: 0 0;
                        }
                        &:before {
                            @include bp-medium {
                                content: "Home"
                            }
                        }
                    }
                    &:hover {
                        border-bottom: 5px solid #d33a37;
                    }
                }
                &.active {
                    a {
                        border-bottom: 5px solid #d33a37;
                    }
                }
                @include bp-medium {
                    display: block;
                    float: none;
                    margin-left: 0;
                    padding: 15px 0 5px 0;
                }
            }
            @include bp-medium {
                display: none;
                text-align: center;
                margin-top: 0;
                background: rgba(230, 230, 230, 0.8);
                padding-bottom: 15px;
                &.show {
                    display: block;
                }
            }
        }
    }
}
.section {
    @include clearfix;
}
#intro {
    background: #c3ced8 url(../img/sec1_bg.jpg) no-repeat center top;
    padding: 200px 0 40px 0;
    .welcome {
        @include clearfix;
    }
    .intro-image {
        @include column(6);
        img {
            position: relative;
            z-index: 10;
            margin-left: -75px;
            margin-top: -40px;
            margin-bottom: -40%;
            max-width: 120%;
            @include bp-medium {
                margin: 0 auto -40% auto;
                max-width: 100%;
            }
        }
        @include bp-medium {
            @include column(12);
            text-align: center;
        }
    }
    .intro-text {
        @include column(6);
        position: relative;
        z-index: 20;
        padding-top: 100px;
        @include bp-medium {
            @include column(12);
            padding-top: 20px;
        }
    }
    .intro-blocks {
        @include clearfix;
        position: relative;
        z-index: 20;
        padding-top: 20px;
        font: normal 14px/20px"Myriad", sans-serif;
        .block {
            @include column(3);
            padding-bottom: 40px;
            @include bp-medium {
                @include column(12);
            }
            h3 {
                font-family: "Trajan", sans-serif;
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }
}
.footer {
    height: 160px;
    .inner {
        text-align: center;
        padding-top: 40px;
    }
}
